/* TODO Add site wide styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e3d4c5 !important;
}

html, body{
  position:relative;
  background-color: #e3d4c5;
  font-size: 14px;
  /* overflow-y: auto; */
}

textarea {
  resize:vertical;
}

main {
  display: flex;
  position: relative;
  width: 70%;
  height: 100vh;
  background-color: #FBFEFB;
  background-color: white;
  margin: auto;
}

.input {
  border: 0;
  border-bottom: 2px solid #2a172c;
  color: black;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1.25em;
  outline: 0;
  padding: .25em .5em;
  width: 100%;
  background-color: #FBFEFB;
  background-color: white
}

textarea.input {
  height: 100px;
}

.form-button {
  background-color: #EFE5DC;
  padding: 0;
  border: none;
  background: none;
  font-weight: 600;
  color: black;
  font-size: 14px;
  margin-left: 7px;
  padding-right: 5px;
  cursor: pointer;
}

.form-button:hover {
  color: #81726A;
  color: #2A172C;
  color: #e3d4c5;
}

.signup-form-login {
  font-size: 10px;
  margin: 5px;
  color: black;
}
.nav-bar {
  z-index: 32;
  line-height: 1.5;
  background-color: #2a172c;
  padding: 11px;
  display: flex;
  align-items: center;
  max-height: 55px;
}

.nav-bar__logo {
  display: flex;
  align-items: center;
  max-height: 75px;
  color: none;
  border-bottom: none;
}

.logo {
  border-bottom: none !important;
}

.search-container {
  padding: 5px 12px;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
}


.Search-bar {
  display: table-cell;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  background: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  line-height: 20px;
  overflow: visible;
  -webkit-writing-mode: horizontal-tb !important;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  appearance: textfield;
  background-color:  #FBFEFB;
  outline: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.Search-bar:focus {
  width: 250px;
}

.Header-link {
  font-weight: 600;
  color: white;
  padding-top: 18px !important;
  padding-bottom: 19px !important;
  margin-left: 16px;
  margin-right: 8px;
}

.Header-button {
  background-color: #F3D8C7;
  padding: 0;
  border: none;
  background: none;
  font-weight: 600;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.Header-button:hover {
  color: #e3d4c5 !important;
  cursor: pointer;
}


.active {
  color:  #e3d4c5;
}

.middled {
  align-items: center;
}

.centered {
  justify-content: center;
}

.article-preview-container {
  display: flex;
  flex-flow: wrap;
  max-width: auto;
  max-height: auto;
  justify-content: center;
  margin-top: 10px;
  padding:5px;
  grid-gap: 7px;
  border-radius:7px;
  margin-bottom: 30px;
}


.article-preview-card {
  width: 200px;
  height: 200px;
  background-color: #FBFEFB;
  align-self: center;
  justify-self: center;
  border-radius:7px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  margin: 5px;
}

.article-preview-card:hover {
  color: #e3d4c5 !important;
}

.article-card-title {
  margin: 5px;
  font-weight: 600;
  font-size: 14px;
}

.article-card-abstract {
  margin: 5px;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 100px !important;
}

.homepage-container{
  background-color: white;
  display:block;
  position: relative;
  padding: 20px;
  height: 100vh;
  max-width: 1165px;
  margin:auto;
}

.homepage-container h2 {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid black;
}
.welcome {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.welcome h1{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.article-preview-card__image {
  width: 100%;
  height: 80%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

@media screen and  (max-width: 1305px) {
  .article-preview-container {
    display: flex;
    flex-flow: wrap;
    max-width: auto;
    max-height: auto;
    margin: auto;
    margin-top: 10px;
    padding:5px;
    grid-gap: 7px;
    border-radius:7px;
    margin-bottom: 30px;
  }
}

@media screen and  (max-width: 479px) {
  .nav-bar {
    z-index: 32;
    line-height: 1.5;
    background-color: #F3D8C7;
    font-size: 12px;
    padding: 13px;
    display: flex;
    align-items: center;
    max-height: 30px;
  }
}

.card-link {
  border-bottom: 0px;
}

.article{
  padding: 25px;
  max-width: 1250px;
  background-color: white;
  position: relative;
  margin:auto;
  height: 100% !important;
  min-width: 0
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.article-top {
  display: grid;
}

.article__title{
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.article__abstract {
  margin-bottom: 15px;
}

.article-section {
  margin-bottom: 15px;
}

.article-section__header {
  border-bottom: 1px solid black;
  margin-bottom: 7px;
  font-weight: 600;
}

.article-section__content {
  font-size: 14px;
}

.table-of-contents {
  background-color:  #EFE5DC;
  display: table;
  padding: 7px;
  line-height: 1.6;
  margin-bottom: 10px;
  border:1px solid black;
  text-align: left;
}

.table-of-contents h4 {
  font-weight: 400;
  font-size: 14px;
}

.table-of-contents__orderNumber {
 padding: 2px;
 padding-right: 5px;
 font-size: 12px;
}

.table-of-contents__header {
  padding-right:2px;
  font-size: 12px;
}

.article__image{
  width:250px;
  height: 170px;
}

.article__image-container {
  margin-bottom: 10px;
}

.write-article {
  padding: 25px;
  max-width: 1250px;
  background-color: white;
  position: relative;
  margin:auto;
  height: 100vh !important;
  overflow-y: auto;
}

.write-article__button {
  background-color: #EFE5DC;
  padding: 3px;
  margin: 3px;
  border: none;
  background: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.write-article__section {
  max-width: 1250px;
  background-color: white;
  position: relative;
  margin:auto;
}

.write-article__button:hover {
  color: #e3d4c5 !important;
}

.section__number{
margin-left: 5px;
margin-top: 20px;
margin-bottom: 3px;
}

.article-title-container {
  display: block;
  list-style-type: disc;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.title-link{
  color: #0000EE;
}
.title-link:after {
  content: " · ";
  font-weight: bold;
}
.title-container__header {
  border-bottom: 1px solid black;
  margin-bottom: 5px !important;
}

.section__delete{
  padding-left: 10px;
}

.article-card-abstract {
  margin: 5px;
}

.demo-login-button {
  background-color: #EFE5DC;
  padding: 0;
  border: black;
  background: none;
  font-weight: 600;
  color: black;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
  margin-bottom: 10px !important;
}

.demo-login-button:hover {
 color: #e3d4c5 !important;;
}
